In [3]:
import pandas as pd
import numpy as np
from marketsim import compute_portvals
import os

In [4]:
os.getcwd()

'/Users/srinadh.nidadana-c/Documents/Academics/GTechMasters/CS7646 ML4T/ML4T_2025Spring/marketsim'

In [6]:
os.listdir('./orders')

['orders-09.csv',
 'orders-08.csv',
 'orders-12.csv',
 'orders-06.csv',
 'orders-07.csv',
 'orders-05.csv',
 'orders-11.csv',
 'orders-10.csv',
 'orders-04.csv',
 'orders-01.csv',
 'orders-03.csv',
 'orders-02.csv']

In [7]:
od1 = pd.read_csv('./orders/orders-01.csv')
od1

          Date Symbol Order  Shares
0   2011-01-10   AAPL   BUY    1500
1   2011-01-13   AAPL  SELL    1500
2   2011-01-13    IBM   BUY    4000
3   2011-01-26   GOOG   BUY    1000
4   2011-02-02    XOM  SELL    4000
5   2011-02-10    XOM   BUY    4000
6   2011-03-03   GOOG  SELL    1000
7   2011-03-03   GOOG  SELL    2200
8   2011-06-03    IBM  SELL    3300
9   2011-05-03    IBM   BUY    1500
10  2011-06-10   AAPL   BUY    1200
11  2011-08-01   GOOG   BUY      55
12  2011-08-01   GOOG  SELL      55
13  2011-12-20   AAPL  SELL    1200
14  2011-12-21   AAPL   BUY      20
15  2011-12-27   GOOG   BUY    2200
16  2011-12-28    IBM  SELL    2200

In [12]:
pd.to_datetime('2011-12-28') - pd.to_datetime('2011-01-10')

Timedelta('352 days 00:00:00')

In [9]:
output_df = compute_portvals(orders_file='./orders/orders-01.csv',
                             start_val=1000000, commission=0.0, impact=0.0)

****portvals_df ---
             Portfolio Value
2011-01-10              0.0
2011-01-11          -1215.0
2011-01-12           2940.0
2011-01-13           4815.0
2011-01-14           9415.0
...                     ...
2011-12-21         141714.0
2011-12-22         134451.8
2011-12-23         132875.0
2011-12-27         117714.6
2011-12-28         115569.2

[245 rows x 1 columns]

In [14]:
output_df['Portfolio Value'] = output_df['Portfolio Value'] + 1000000
output_df

            Portfolio Value
2011-01-10        1000000.0
2011-01-11         998785.0
2011-01-12        1002940.0
2011-01-13        1004815.0
2011-01-14        1009415.0
...                     ...
2011-12-21        1141714.0
2011-12-22        1134451.8
2011-12-23        1132875.0
2011-12-27        1117714.6
2011-12-28        1115569.2

[245 rows x 1 columns]

In [13]:
output_df['Portfolio Value'].sum()

49697857.6

In [ ]:
od1_response =  dict(num_days=245,
                     last_day_portval=1115569.2,
                     sharpe_ratio=0.612340613407,
                     avg_daily_ret=0.00055037432146)
od1_response

{'num_days': 245,
 'last_day_portval': 1115569.2,
 'sharpe_ratio': 0.612340613407,
 'avg_daily_ret': 0.00055037432146}

In [15]:
od10 = pd.read_csv('./orders/orders-10.csv')
od10

          Date Symbol Order  Shares
0   2011-01-10   AAPL   BUY    1500
1   2011-01-13   AAPL  SELL    1500
2   2011-01-13    IBM   BUY    4000
3   2011-01-26   GOOG   BUY    1000
4   2011-02-02    XOM  SELL    4000
5   2011-02-10    XOM   BUY    4000
6   2011-03-03   GOOG  SELL    1000
7   2011-03-03    IBM  SELL    2200
8   2011-06-03    IBM  SELL    3300
9   2011-05-03    IBM   BUY    1500
10  2011-08-01   GOOG   BUY      55
11  2011-08-01   GOOG  SELL      55